# General settings
seed: 42

task_type: 2D

# Model configuration
model:
  type: "segmentation"
  network:
    name: "deeplabv3+"
  in_channels: 3
  out_channels: 4
  features: [32, 64, 128, 256]
  loss:
    type: "ce"
    smooth: 0.00001

  optimizer:
    type: "adam"
    lr: 0.001
    weight_decay: 0.0

  # optimizer:
  #   type: "sgd"
  #   lr: 0.001
  #   momentum: 0.9
  #   weight_decay: 0.0

  scheduler:
    type: "cosine"
    eta_min: 0.0001

  metrics:
    dice:
      type: "dice"
      threshold: 0.5
    iou:
      type: "iou"
      threshold: 0.5

# Data configuration
data:
  type: "color" 
  data_dir: "Dataset"
  batch_size: 16
  num_workers: 8
  pin_memory: true

  dataset_args:
    image_subdir: "image"
    mask_subdir: "label"
    image_suffix: "*.jpg"
    mask_suffix: "*.png"

  train_transforms:
    Compose:
      - Resize:
          size: [720, 1280]
      - ToTensor: {}
      - Normalize:
          mean: [0.485, 0.456, 0.406]
          std: [0.229, 0.224, 0.225]

  val_transforms:
    Compose:
      - Resize:
          size: [720, 1280]
      - ToTensor: {}
      - Normalize:
          mean: [0.485, 0.456, 0.406]
          std: [0.229, 0.224, 0.225]

  test_transforms:
    Compose:
      - Resize:
          size: [720, 1280]
      - ToTensor: {}
      - Normalize:
          mean: [0.485, 0.456, 0.406]
          std: [0.229, 0.224, 0.225]
          
training:
  max_epochs: 100
  devices: -1
  accelerator: "auto"
  precision: 16-mixed 
  output_dir: "outputs"
  experiment_name: "coal_segmentation"
  monitor: "val/val_dice"  #`train/train_loss`, `train/train_loss_step`, `val/val_loss`, `val/val_dice`, `val/val_iou`, `train/train_loss_epoch`, `train/train_dice`, `train/train_iou`
  monitor_mode: "max"
  # early_stopping: true
  patience: 10
  save_top_k: 1
  log_every_n_steps: 10
  deterministic: false

  export_onnx: true
  onnx_opset_version: 18
